.site-header {
    width:100%;
    background:transparent;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}
.logotip {
    width:200px;
    height:60px;
    display:block;
    background:url('../../assets/images/logotip_oppeklass.svg') no-repeat; 
    float:left;
    margin-top:20px;
    text-indent: -9999px;
    transition: .3s all ease;
    margin-left:20px;
    &:hover {
        transform:rotateY(25deg);
    }
    

}